@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Roboto;
  background-color: var(--dark-bg);
  color: var(--light-primary);
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --dark-primary: hsl(244, 24%, 26%);
  --dark-secondary: #3a3535;
  --clr-accent: #ff7315;
  --light-primary: hsl(258, 60%, 98%);
  --white: #ffffff;
  --dark-bg: #1b1c25;

  --fw-light: 300;
  --fw-reg: 400;
  --fw-med: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --h1-size: 5.25rem;
  --h2-size: 1.5rem;
  --h3-size: 1.25rem;

  --fs-normal: 1rem;
  --fs-small: 0.875rem;
  --fs-smaller: 0.813rem;
}

/* ----------Utility---------- */

/* ----------Header---------- */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em 3em;
  position: fixed;
  width: 100%;
  align-items: center;
  z-index: 100;
}

.logo {
  max-width: 70px;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  padding: 0.5em 1em;
  filter: brightness(0%) invert(1);
}

.nav-toggle {
  display: none;
}

.nav__list {
  display: flex;
  z-index: 101;
}

.nav__link {
  padding: 10px 20px;
  text-decoration: none;
  color: var(--white);
  font-weight: var(--fw-light);
  letter-spacing: 0.2rem;
  font-size: 15px;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.footer {
  display: none;
}

@media (max-width: 1024px) {
  header {
    padding: 0.5em;
    z-index: 100;
    position: fixed;
  }

  #navbar {
    transition: 0.5s;
  }

  .nav {
    background: var(--dark-secondary);
    color: var(--white);
    top: 0;
    bottom: 0;
    left: 35%;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  }

  .nav__list {
    list-style: none;
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .nav__link {
    color: inherit;
    font-weight: var(--fw-reg);
    font-size: 20px;
    text-decoration: none;
  }

  .nav__link:hover {
    color: var(--clr-accent);
  }

  .nav-toggle {
    display: block;
    padding: 1em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
  }

  .nav-open .nav {
    transform: translateX(0);
  }

  .nav-open .nav-toggle {
    position: fixed;
  }

  .nav-open .hamburger {
    transform: rotate(0.625turn);
  }

  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-8px);
  }

  .nav-open .hamburger::after {
    opacity: 0;
  }

  .hamburger {
    display: block;
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
  }

  .hamburger::before {
    top: 8px;
  }
  .hamburger::after {
    bottom: 8px;
  }
}

/* ----------Main---------- */

.main-content {
  display: block;
  max-width: 100vw;
}

.section {
  min-height: calc(100vh - 90px);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-inline: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro {
  text-align: center;
}

.home .home-info {
  margin: 0 20px;
  color: var(--clr-accent);
}

.home__name {
  font-size: var(--h1-size);
  font-weight: var(--fw-bold);
  color: #fff;
  margin-bottom: 0.5rem;
}

@media (min-width: 1024px) {
  .main-content {
    display: block;
    height: 100vh;
    /* margin-left: 110px; */
  }
  .section {
    min-height: 100vh;
  }
}

/* Services */
.services > .container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.service-block {
  flex: 1 0 auto;
  max-width: 25%;
  min-width: 210px;
  margin: 15px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.service-block-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 40px 40px 45px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all ease 300ms;
  -moz-transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
}

.service-block-content i {
  font-size: 40px;
  margin-bottom: 15px;
}

.service-block-content h3 {
  margin-bottom: 10px;
}

.service-block-content p {
  font-size: 14px;
  width: 25ch;
}

/* Portfolio */
.portfolio {
  display: flex;
  flex-direction: column;
}

.section__heading {
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
}

.section__heading h1 {
  font-size: 42px;
  line-height: 75px;
  font-weight: 800;
}

.about {
}

.contact {
}
